---
title: Google Service Broker
owner: Partners
---

## <a id="snapshot"></a>Product Snapshot

<dl>
<dt>YOUR-PRODUCT-NAME Details:</dt>
<dd><strong>Version</strong>: v0.1.0 </dd>
<dd><strong>Release Date</strong>: October 3, 2016</dd>
<dd><strong>Compatible Ops Manager Version(s)</strong>: 1.7.0 or later</dd>
<dd><strong>Compatible Elastic Runtime Version(s)</strong>: 1.7.0 or later</dd>
<dd><strong>vSphere support?</strong> YES</dd>
<dd><strong>OpenStack support?</strong> YES</dd>
<dd><strong>AWS support?</strong> YES</dd>
</dl>


The Google Service Broker provides Pivotal Cloud Foundry users with the ability to create and manage Google Cloud Platform (GCP) resources from the cf CLI.

The Google Service Broker is installed once and exposes the selected GCP services in the Marketplace. App developers can then create and manage a service instance by using the CF CLI commands (create-service, bind-service, unbind-service and delete-service).

GCP Services currently supported include:

* [Google Cloud Storage](https://cloud.google.com/storage/)
* [Google BigQuery](https://cloud.google.com/bigquery/)
* [Google PubSub](https://cloud.google.com/pubsub/)
* [Google CloudSQL](https://cloud.google.com/sql/)
* [Google Machine Learning APIs](https://cloud.google.com/ml/)


##Overview

* [Installing the Service Broker](installing.html): Follow these instructions to install the AWS Service Broker via Ops Manager.
* [Creating and Managing Service Instances](using.html): Follow these instructions to create and manage service instances.
* [Release Notes](release-notes.html)

