---
title: GCP Service Broker
owner: Partners
---

This documentation describes the Google Cloud Platform (GCP) Service Broker for Pivotal Cloud Foundry (PCF). The GCP Service Broker provides PCF users with the ability to create and manage  resources from the Cloud Foundry Command Line Interface (cf CLI).

## Overview

PCF operators install the GCP Service Broker to expose select GCP services in the Marketplace. Developers can then provision GCP services by creating and managing service instances with the cf CLI.

The GCP Service Broker for PCF currently supports the following GCP services:

* [Google Cloud Storage](https://cloud.google.com/storage/)
* [Google BigQuery](https://cloud.google.com/bigquery/)
* [Google PubSub](https://cloud.google.com/pubsub/)
* [Google Cloud SQL](https://cloud.google.com/sql/)
* [Google Datastore](https://cloud.google.com/datastore/)
* [Google Machine Learning APIs](https://cloud.google.com/ml/)
* [Google Bigtable](https://cloud.google.com/bigtable/)
* [Google Spanner](https://cloud.google.com/spanner/)
* [Stackdriver Debugger](https://cloud.google.com/debugger/)
* [Stackdriver Trace](https://cloud.google.com/trace/)

## Product Snapshot

The following table provides version and version-support information about GCP Service Broker for PCF:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v3.5.2</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>September 11, 2017</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.8.0 or later</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.8.0 or later</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>GCP, AWS, OpenStack, and vSphere</td>
    </tr>
</table>

## Requirements

You must have the following prerequisites to install the GCP Service Broker: 

* PCF v1.8 or later
* A GCP project and service account with owner permissions
* A MySQL database

## Guide

This documentation includes the following topics: 

* [Installing and Configuring GCP Service Broker](installing.html)
* [Using GCP Service Broker](using.html)
* [Release Notes](release-notes.html)

