---
breadcrumb: PCF Services
title: Installing the Service Broker
---

This topic describes how to install the Google Service Broker by configuring your GCP account and importing the product file into Ops Manager.

##Installation Prerequisites

* Pivotal Cloud Foundry version 1.7 or later.
* A Google Cloud Platform (GCP) project and service account with owner permissions
* An available MySQL database

##<a id="setup"></a>Step 1: Set up your GCP Project

In this step you'll create your project and enable necessary apis

1. go to console.cloud.google.com and sign up, walking through the setup wizard
1. Next to the Google Cloud Platform logo in the upper left-hand corner, click the dropdown and select "Create Project"
1. Give your project a name and click "Create"
1. When the project is created (a notification will show in the upper right), refresh the page.
1. Click "Library" from the menu on the left
1. Search "google cloud resource manager api", click the option with no other modifiers, and enable.
1. Search "Google Identity and Access Management (IAM) API", click the option with no other modifiers, and enable.
1. If you wish to use CloudSQL, search "sqladmin", click the only option, and enable.


##<a id="setup"></a>Step 2: Set up your root Service Account

In this step you'll set up your "root" Service Account.

1. Navigate to IAM & Admin > Service accounts and click "Create Service Account"
1. Give your service account a name and select Role "Project > Owner"
1. Click "Furnish a new Private Key"
1. Click "Create"
1. Save the downloaded key file somewhere secure

##<a id="setup"></a>Step 3: Create Service Broker Database

You may choose any MySQL database you like to back the Service Broker. If you would like to use CloudSQL (which is advised if your cf installation is on GCP already), you can follow the instructions below.

1. Set up your database instance with default settings
1. When it has booted, click through to Access Control > SSL and click "Create Client Certificate"
1. Enter a name and click "Add"
1. When the certificate creation has finished, download the 3 files and save them somewhere secure
1. Take note of the connection string given at the bottom of the popup
1. Under Access Control > Networks, click "Add Network"
1. Record the network as 0.0.0.0/0 and click "Done"
1. connect to the host machine using the connection string from earlier
1. run `CREATE DATABASE servicebroker;`
1. run `CREATE USER '<username>'@'%' IDENTIFIED BY '<password>';`
1. run `GRANT ALL PRIVILEGES ON servicebroker.* TO '<username>'@'%' WITH GRANT OPTION;`

##<a id="install"></a>Step 4: Install in Ops Manager

To install the GCP Service Broker tile in Ops Manager, complete the following steps:

1. Download the GCP Service Broker product file from [Pivotal Network](https://network.pivotal.io/products/gcp-service-broker).

1. From the Ops Manager Installation Dashboard, click **Import a Product** to upload the product file.

1. Click **Add** next to the uploaded product description in the **Available Products** view to add this product to your staging area.

1. Click on the newly added tile to configure the sections as described below.

###<a id="root-service-account"></a>Root Service Account
1. Click "Root Service Account"
    <%= image_tag("images/root_service_account.png") %>
1. Open your service account private key file and copy the contents to the text box
1. Click "Save"

###<a id="database-properties"></a>Database Properties
1. Click "Database Properties"
    <%= image_tag("images/database_properties.png") %>
1. Enter your database's public ip under host name
1. Enter your database's username, password, and ssl-certs
1. Change your database's port if you have configured anything other than 3306
1. Click "Save"

###<a id="cloudsql-plans"></a>CloudSQL Custom Plans

If you want to use CloudSQL you'll need to configure plans for it in the CloudSQL Custom Plans Plans section.
If you do not want to use CloudSQL, you can simply ignore this section.

1. Click "CloudSQL Custom Plans"
    <%= image_tag("images/cloudsql_custom_plans.png") %>
1. For as many plans as you would like, click "Add"
1. Input a plan name to save in the database, a display name, and description
1. Input a case-sensitive Tier value (see https://cloud.google.com/sql/pricing for details)
1. If you have selected a first generation instance type, optionally change your pricing plan
1. If you have selected a second generation instance type, optionally enter a maximum disk size in GB
1. Click "Save"

###<a id="cloudsql-plans"></a>Service Access

By default access is enabled for all orgs and spaces to all services and plans used by the GCP Service Broker. If you would
like to default this access to off,

1. Click "Service Access"
    <%= image_tag("images/service_access.png") %>
1. Uncheck "Enable global access to plans of service gcp_service_broker"
1. Click "Save"

##<a id="confirm"></a>Step 5: Confirm Installation

<p class="note"><strong>Note</strong>: The GCP Service Broker installs an app called <code>gcp-service-broker</code> in the <code>gcp-service-broker-space</code> space of the <code>gcp-service-broker-org</code> org.</p>

1. After Ops Manager finishes the installation, the **GCP Service Broker** appears as a green tile in the **Installation Dashboard**.

1. In Apps Manager, all orgs and spaces show the new services in the Services Marketplace. Users can create instances of these services through Apps Manager or via the cf CLI. Review the [Creating and Managing Service Instances](using.html) topic for more information.

##<a id="service-access"></a>Step 5: Confirm Service and Plan access

By default the service broker is installed with all services enabled except CloudSQL, unless plans have been configured.

1. If you would like to disable any services (or enable any, if you changed the default behavior),
 you can do so now through the cf cli using `cf disable-service-access`.