---
breadcrumb: PCF Services
title: Release Notes
---

### v4.3.0

**Release Date:** September 18, 2019

#### Fixed
- Fix bug that caused SQL users to never be deleted.
- "data too long" error for existing service broker installations when passing service provisioning configuration > 255 characters (#468)

#### Changed
- Built Brokerpaks now have a name of `{name}-{version}.brokerpak` as defined by the manifest rather than the name of the parent directory.
- Services inside Brokerpaks now have a file name that includes their CLI friendly name to help differentiate them.
- The `pak build` command now includes progress logs.
- An unbind of a service now fails as early as possible to prevent partial deletions.

#### Added
- Ability for plans to selectively override user variables.
- Ability to get plan information from HIL execution environment on bind.

### v4.2.3

**Release Date:** June 27, 2019

- Added a workaround for an upstream CloudSQL issue that caused SQL user deletion to fail.
- Delete replicas for CloudSQL instances before attempting to delete the instance.
- A new option to MySQL that allows auto-generating a replica name from the name of the master.
- A new option to Cloud Storage that allows buckets to be deleted even if they contain objects. This sets the label `sb-force-delete` to `true` on the bucket and will attempt to delete all contents before deleting the bucket.

### v4.2.2

**Release Date:** February 8, 2019

- This is a hotfix for issues with brokerpaks in 4.2.0.

### Fixed
 - The `pak run-examples` sub-command now returns a non-zero status code on failure.
 - JSONSchema validation no longer fails because of duplicate required fields.
 - Brokerpaks no longer use incorrect templates because of an invalid pointer.

### v4.2.0

**Release Date:** January 16, 2019

#### Security
The broker uses a Pivotal library affected by CVE-2018-15759.
Until the library is updated, Google recommends that you not run the service broker on a public network.
If you must run it on a public network, make it accessible through a proxy that supports fail2ban.

#### Added
- The ability to enable/disable services based on product lifecycle tags. See #340 for context.
- Preview support for Firestore.
- Preview support for Dialogflow.
- Preview support for Stackdriver Metrics.
- Namespace support for Datastore.
- Preview support for Dataflow.
- Default roles for ML, BigQuery, BigTable, CloudSQL, Pub/Sub, Spanner, and Cloud Storage.
- /docs endpoint that serves docs for your installation.
- Preview support for Dataproc via brokerpaks.
- Varcontext now supports casting computed HIL values.
- New regional and multi-regional Cloud Storage plans.
- Ability to expose JSONSchema in the service catalog by enabling the enable-catalog-schemas flag.

#### Changed
- Support links for services now point to service-specific pages where possible.
- Feature flags are now handled through a generic toggles framework. Option labels and descriptions might change slightly in the tile.
- Service definitions now get field-level validation to check for sanity before being registered.

#### Removed
- The examples/ directory.

#### Fixed
- Fixed machine types for PostgreSQL to use custom but keep the old names for compatibility.

### v4.1.0

**Release Date:** November 5, 2018

#### Added
- Pub/Sub now adds default labels to created topics and subscriptions.
- New validation documentation for Pub/Sub.
- Ability for operators to override the provision defaults with fixed values.
- New form to let operators set provision defaults.
- New `coldline` Cloud Storage plan.
- Ability to create custom Cloud Storage plans.
- New tile form for creating custom Cloud Storage plans.
- Examples of binding variables to the docs.
- Constraints/validation of the binding variables to the docs.
- New `version` sub-command to show the current version of the binary.
- New `generate` sub-commands to generate the `tile.yml` and `manifest.yml` files.

#### Changed
- Role whitelists are now validated through JSON Schema checks.
- The `run-examples` sub-command now evaluates the credentials against the JSON Schema, improving robustness.

#### Fixed
- Fixed issue where Cloud Datastore service accounts were getting the same name.

### v4.0.0

**Release Date:** September 27, 2018


<p class="note"><strong>IMPORTANT:</strong> If you are upgrading from v3.x,
follow the upgrading instructions on GitHub to ensure your plans continue to work.
See <a href="https://github.com/GoogleCloudPlatform/gcp-service-broker/blob/master/docs/upgrading.md">Upgrading</a>.</p>

### Added
- New sub-command `plan-info` to dump plan information to the console.
- New sub-command `client` to execute documentation examples and interact with the broker.
- New sub-command `help` which outputs help documentation.
- New sub-command `config` which can convert between configuration file formats.
- New sub-command `generate` to generate use, tile forms, and configuration documentation.
- New sub-command `serve` to run the service broker server.
- New sub-command `show` to dump database state.
- The ability to configure the system with YAML, TOML, properties,
  or JSON configuration files using the `--config` flag in conjunction with using environment variables.
- The ability to customize the database name in the tile.
- The ability to turn on/off services using an environment variable.
- Default plans for Spanner, BigTable, and CloudSQL.
- Whitelists for bindings so only certain "safe" roles can be chosen by end-users.
- Automatic labeling of resources with organization GUID, space GUID, and instance ID to
  BigQuery, CloudSQL, Spanner, and Cloud Storage.

### Deprecated
- Running the service by executing the main executable.
  Use the `serve` sub-command instead.

### Changed
- **Breaking** plan ids are now required and are not generated if not supplied.
- **Breaking** changed custom plan id field name from `guid` to `id`.
- **Breaking** modified `"features"` plan configuration field name to `"service_properties"`.
- **Breaking** modified structure of all catalog-related environment variables - `plans` is now a sub-field of the Service object,
and Service objects are defined individually by setting environment variables like `GOOGLE_<SERVICE_NAME>`
- You no longer have to specify service information in the manifest.
- **Breaking** The Cloud Storage plan `reduced_availability` was changed to `reduced-availability`
  to be compliant with the spec and work with Kubernetes.
- Tables are created only if they do not exist on migration,
  fixing [#194](https://github.com/GoogleCloudPlatform/gcp-service-broker/issues/194).
- The broker now adheres to Open Service Broker API version 2.13.
- Improved ORM migrations and test coverage with SQLite3.

### v3.6.0

**Release Date:** January 4, 2018

**Feature included in this release:**

- Default SQL instance to internal access only, enable access configuration
- Bind SQL instances with service account
- Include certs in Postgres URI field

### v3.5.2

**Release Date:** October 19, 2017

**Fixed in this release:**

- Fixed issue where, during user account creation, the SQL account manager did not wait for SSL
 certificates to finish generating before returning credential information to the client.
- Fixed PostgreSQL connection URL


### v3.5.1

**Release Date:** September 11, 2017

**Features included in this release:**

- Added PostgreSQL support to CloudSQL (and migrated existing plans)
- Added Datastore support


### v3.4.1

**Release Date:** May 22, 2017

**Fixed in this release:**

- Fixed uninitialized security group


### v3.4.0

**Release Date:** May 16, 2017

**Fixed in this release:**

- Added Stackdriver services to tile.yml


### v3.3.2

**Release Date:** May 11, 2017

**Fixed in this release:**

- Security updates to address CVE-2017-4975
- Added buildpack setting


### v3.3.1

**Release Date:** May 11, 2017

**Fixed in this release:**

- Security updates to address CVE-2017-4975

**Features included in this release:**

- Database name is configurable by setting `DB_NAME`


### v3.3.0

**Release Date:** March 31, 2017

**Features included in this release:**

- Added Stackdriver Debugger and Trace support


### v3.2.1

**Release Date:** March 31, 2017

**Fixed in this release:**

- Fixed a bug where Spanner instances could be deleted from Google but not deprovisioned in CF
- Fixed a bug where Cloud SQL instances were not being marked as deleted in the Service Broker database

### v3.2.0

**Release Date:** March 22, 2017

**Features included in this release:**

- Added Spanner support
- Added a Golang example application
- Added Concourse CI pipeline
- Added integration testing for async services

### v3.1.2

**Release Date:** February 15, 2017

**Fixed in this release:**

- fixed a bug where supplying a custom name for Bigtable would cause an error

### v3.1.1

**Release Date:** February 9, 2017

**Fixed in this release:**

- Fixed a bug where custom plans were not being handled properly.

### v3.1.0

**Release Date:** February 7, 2017

**Fixed in this release:**

- Updated vendored packages so that custom UserAgent string gets propagated for storage provision calls

**Features included in this release:**

- Added Bigtable as a service

### v3.0.1

**Release Date:** January 23, 2017

**Features included in this release:**

- Updated default user agent string so that bogus data will not be collected during testing
- Updated service account bindings to include ProjectId

### v3.0.0

**Release Date:** January 12, 2017

**Features included in this release:**

- Updated pubsub library so that User Agent string gets propagated correctly
- Updated dependency management system
- Changed org to system (Broker will need to be uninstalled and reinstalled for this change to take effect)

### v2.1.3

**Release Date:** January 5, 2017

**Fixed in this release:** a bug where bind calls to ml-api service instances were failing because these service instances don't save
any extra access details

### v2.1.2

**Release Date:** December 21, 2016

**Fixed in this release:** A bug where anything that triggered another application of
**Apply Changes** after installing v2.1.0 or v2.1.1 caused the installation to fail.

### v2.1.1

**Release Date:** December 2, 2016

**Feature included in this release:** Added new URI parameter to Cloud SQL bind credentials.

### v2.1.0

**Release Date:** December 2, 2016

**Features included in this release:**

- Remove need for service name for PubSub (topic\_name), BigQuery (name), Cloud Storage (name), and Cloud SQL (instance\_name).
- Instance details are now surfaced in bind requests for Pubsub (topic\_name and subscription\_name),
Cloud Storage (bucket\_name), BigQuery (dataset\_id), and Cloud SQL (instance\_name, database\_name, and host).

### v2.0.2

**Release Date:** November 16, 2016

 **Fixed in this release:** Bug where CloudSQL was returning 400s for all second generation instance provision requests.

### v2.0.1

**Release Date:** October 28, 2016

**Feature included in this release:** CloudSQL generates a username/password on bind if one is not provided.

**Fixed in this release:**

- CloudSQL custom plans are now optional.
- Fixed username and password env var names in docs.
- Fixed CloudSQL custom plan names and/or features not updating.

### v2.0.0

**Release Date:** October 10, 2016

**Fixed in this release:**

- Fixed CloudSQL docs link in README.
- Updated credentials type returned by bind call to be a mapstringstring instead of a string.

### v1.0.1

**Release Date:** October 7, 2016

**Fixed in this release:**
Removed specified stemcell version from `tile.yml` so that the most recent stemcell is used by default.
